@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-SemiBold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin: 0 188px;
}

.header-menu {
    display: flex;
    justify-content: center;
    column-gap: 28px;
}

.header-menu-link {
    color: #000;
    font: normal 700 18px/1 'Roboto', sans-serif;
    border-bottom: 1px solid transparent;
    transition: .5s;

    &.header-menu-link:hover {
        border-bottom: 2px solid #000;
    }
}

.header-logo {
    display: block;
}

.header-buttons {
    display: flex;
    justify-content: center;
    column-gap: 25px;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    background-color: #F0EFEB;
    padding: 0 60px 0 188px;
}

.header-content-text {
    text-align: left;
    max-width: 540px;
    padding-top: 90px;
}

.header-content-title {
    font: normal 700 60px/100% 'Roboto', sans-serif;
    padding-bottom: 42px;
    margin: 0;
}

.header-content-subtitle {
    font: normal 400 24px/1 'Roboto', sans-serif;
    padding-bottom: 26px;
}

.header-content-button {
    padding: 8px 23px;
    border: 1px solid #000;
    border-radius: 100px;
    font: normal 400 17px/1 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    transition: all .5s;

    &:hover {
        background-color: #fff;
        color: #000;
    }
}

.our_guides {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 188px 0;
}

.our_guides-title {
    font: normal 700 36px/1 'Roboto', sans-serif;
    padding-bottom: 27px;
}

.our_guides-text {
    max-width: 650px;
    font: normal 400 20px/1 'Roboto', sans-serif;
    padding-bottom: 47px;

}

.our_guides-subtext {
    font: normal 400 20px/1 'Roboto', sans-serif;
}

.best_sellers {
    padding: 87px 188px 0;
    text-align: center;
}

.best_sellers-title {
    font: normal 700 36px/1 'Roboto', sans-serif;
}

.best_sellers-list {
    padding-top: 52px;
    display: flex;
    justify-content: space-between;
}

.best_sellers-list>.best_sellers-item:first-of-type>.best-sellers-subtitle {
    padding: 36px 0 17px;
}

.best-sellers-subtitle {
    padding: 27px 0 17px;
    font: normal 700 17px/1 'Roboto', sans-serif;
}

.best_sellers-cost {
    font: normal 400 17px/1 'Roboto', sans-serif;
    padding-bottom: 10px;
}

.best_sellers-button {
    font: normal 700 17px/1 'Roboto', sans-serif;
    color: #000;
    border-bottom: 1px solid transparent;
    transition: .5s all;

    &:hover {
        border-bottom: 1px solid #000;
    }
}

.guide_categories {
    background-color: rgba(204, 204, 204, 0.3);
    margin-top: 250px;
}

.guide_categories-list {
    display: flex;
    flex-direction: column;
}

.guide_categories-item {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 75px 188px 50px;

    &:nth-of-type(2) {
        flex-direction: row-reverse;
        background-color: rgba(204, 204, 204, 0.6);
        text-align: right;
    }
}

.guide_categories-container {
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.guide_categories-subtitle {
    font: normal 700 36px/1 "Roboto", sans-serif;
    padding-top: 63px;
}

.guide_categories-text {
    max-width: 500px;
    font: normal 400 36px/1 "Roboto", sans-serif;
}

.guide_categories-link {
    font: normal 700 17px/1 "Roboto", sans-serif;
    color: #000;
    text-decoration: underline;
}

.features {
    padding: 190px 188px 52px;
    text-align: center;
}

.features-title {
    font: normal 700 36px/1 'Roboto', sans-serif;
    max-width: 450px;
    margin: 0 auto;
}

.features-list {
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 110px;

}

.features-item {
    width: 339px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-item:nth-child(1) .features-item-figure {
    background-color: #21F7EC;
}

.features-item:nth-child(2) .features-item-figure {
    background-color: #33D3BC;
}

.features-item:nth-child(3) .features-item-figure {
    background-color: #18A5C6;
}

.features-item:nth-child(4) .features-item-figure {
    background-color: #D38F62;
}

.features-item:nth-child(5) .features-item-figure {
    background-color: #F94C43;
}

.features-item:nth-child(6) .features-item-figure {
    background-color: #D399FF;
}

.features-item-figure {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.features-item-subtitle {
    font: normal 700 30px/1 'Roboto', sans-serif;
    padding-top: 26px;
}

.interviews {
    padding: 160px 188px 130px;
    position: relative;
}

.interviews-title {
    font: normal 700 36px/1 'Roboto', sans-serif;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

.interviews_background {
    width: 100%;
    height: 480px;
    background-color: #F0F0F0;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 55px;
}

.interviews-list {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.interviews-item {
    max-width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}

.interviews-quote {
    display: block;
    text-align: center;
    font: normal 700 22px/1 'Roboto', sans-serif;
    letter-spacing: 0.6px;
}

.interviews-person_info {
    text-align: center;
    font: normal 400 19px/1 'Roboto', sans-serif;
}

.interviews-discover {
    font: normal 700 18px/1 'Roboto', sans-serif;
    text-decoration: underline;
    color: #000;
}

.form {
    padding: 80px 188px;
}

.form-title {
    font: normal 700 36px/1 'Roboto', sans-serif;
    text-align: center;
}

.form-subtitle {
    font: normal 700 17px/1 'Roboto', sans-serif;
    padding-top: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.form-area {
    max-width: 366px;
    padding-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    align-self: center;
    column-gap: 60px;
    row-gap: 18px;
}

.form-input {
    width: 153px;
    height: 39px;
    border: 1px solid #000;
    padding-left: 8px;
    font: normal 700 14px/1 'Roboto', sans-serif;

    &::placeholder {
        font: normal 700 14px/1 'Roboto', sans-serif;
        text-align: left;
    }
}

.form-input-email {
    grid-column: 1 / -1;
    width: inherit;
}

.form-button {
    grid-column: 1 / -1;
    width: fit-content;
    margin: 0 auto;
    font: normal 400 14px/1 'Roboto', sans-serif;
    color: #fff;
    background-color: #000;
    padding: 10px 23px;
    border: 1px solid #000;
    border-radius: 20px;
    transition: all .5s;

    &:hover {
        color: #000;
        background-color: #fff;
    }
}

.footer {
    background-color: #000;
    color: #fff;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    padding: 50px 188px 16px;
}

/* .footer-left {}

.footer-logo {
} */

.footer-socials {
    padding-top: 25px;
    display: flex;
    column-gap: 20px;
}

/* .footer-about {

} */

.footer-subtitle {
    font: normal 400 14px/1 'Roboto', sans-serif;
    text-transform: uppercase;
}

.footer-about-list {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.footer-about-item {
    font: normal 400 14px/21px 'Roboto', sans-serif;
    border-bottom: 1px solid transparent;
    width: fit-content;
    transition: all .5s;
    cursor: pointer;

    &:hover {
        border-bottom: 1px solid #fff;
    }
}

.footer-contact-list {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.footer-contact-item {
    font: normal 400 14px/21px 'Roboto', sans-serif;
    border-bottom: 1px solid transparent;
    width: fit-content;
    transition: all .5s;
    cursor: pointer;

    &:hover {
        border-bottom: 1px solid #fff;
    }
}

.footer-about-link,
.footer-contact-link {
    color: #fff;
}

.footer-company {
    grid-column: 1 / -1;
    margin: 0 auto;
    padding-top: 20px;
    font: normal 400 14px/23px 'Roboto', sans-serif;
}